name: MLOps CI

on:
    push:
        branches: [ main ]

jobs:
    docker:
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v4
            
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
            
            - name: Build churn-train image
              run: |
                  docker build -t ${{ secrets.DOCKER_USERNAME }}/churn-train:latest .
            
            - name: Push churn-train image
              run: |
                  docker push ${{ secrets.DOCKER_USERNAME }}/churn-train:latest
            
            - name: Build churn-api image
              run: |
                  docker build -f Dockerfile.api -t ${{ secrets.DOCKER_USERNAME }}/churn-api:latest .
            
            - name: Push churn-api image
              run: |
                  docker push ${{ secrets.DOCKER_USERNAME }}/churn-api:latest
